services:
  mongo:
    image: mongo:latest
    container_name: mongo_db_MVG
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend_app_MGV
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./backend/images:/usr/src/app/images
    environment:
      - NODE_ENV=development
    env_file:
      - ./backend/.env
    command: npm run dev
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend_app_MGV
    ports:
      - "3000:3000"

volumes:
  mongo_data:
